In [39]:
#warm up

In [40]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
dataset = pd.read_csv('https://spark-public.s3.amazonaws.com/dataanalysis/loansData.csv')

In [42]:
dataset.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [43]:
dataset['Interest.Rate'][:5]

81174     8.90%
99592    12.12%
80059    21.98%
15825     9.99%
33182    11.71%
Name: Interest.Rate, dtype: object

In [44]:
dataset['Loan.Length'][:5]

81174    36 months
99592    36 months
80059    60 months
15825    36 months
33182    36 months
Name: Loan.Length, dtype: object

In [45]:
#remove %sign in rate 
dataset['Interest.Rate'].isnull().any()
dataset['Interest.Rate'].str.replace('%','')[:5]

81174     8.90
99592    12.12
80059    21.98
15825     9.99
33182    11.71
Name: Interest.Rate, dtype: object

In [46]:
#remove months in loan
dataset['Loan.Length'].str.replace('months','')[:5]

81174    36
99592    36
80059    60
15825    36
33182    36
Name: Loan.Length, dtype: object

In [47]:
dataset['Interest.Rate'].apply(lambda x:x.replace('%',''))[:5]

81174     8.90
99592    12.12
80059    21.98
15825     9.99
33182    11.71
Name: Interest.Rate, dtype: object

In [48]:
%timeit dataset['Interest.Rate'].str.replace('%','')[:5]

1.57 ms ± 11.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [49]:
%timeit dataset['Interest.Rate'].apply(lambda x:x.replace('%',''))[:5]

1.41 ms ± 94.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [50]:
dataset.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [61]:
outlier=dataset[dataset['Monthly.Income']>100000]
outlier

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
54487,33000,33000.0,7.62%,36 months,debt_consolidation,0.26%,NY,MORTGAGE,102750.0,805-809,7.0,95435.0,0.0,10+ years

In [52]:
dataset.isnull().any()

Amount.Requested                  False
Amount.Funded.By.Investors        False
Interest.Rate                     False
Loan.Length                       False
Loan.Purpose                      False
Debt.To.Income.Ratio              False
State                             False
Home.Ownership                    False
Monthly.Income                     True
FICO.Range                        False
Open.CREDIT.Lines                  True
Revolving.CREDIT.Balance           True
Inquiries.in.the.Last.6.Months     True
Employment.Length                  True
dtype: bool

In [56]:
dataset=dataset.dropna()#remove rows with null values

In [57]:
dataset.isnull().any()#checking it

Amount.Requested                  False
Amount.Funded.By.Investors        False
Interest.Rate                     False
Loan.Length                       False
Loan.Purpose                      False
Debt.To.Income.Ratio              False
State                             False
Home.Ownership                    False
Monthly.Income                    False
FICO.Range                        False
Open.CREDIT.Lines                 False
Revolving.CREDIT.Balance          False
Inquiries.in.the.Last.6.Months    False
Employment.Length                 False
dtype: bool

In [65]:
#removing outliers
dataset=dataset[dataset['Monthly.Income'].apply(lambda x:x<100000)]
dataset[45:50]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
14958,5000,5000.0,11.86%,36 months,major_purchase,4%,TX,RENT,5577.00,715-719,3.0,1069.0,0.0,1 year
14754,3000,3000.0,10.38%,36 months,debt_consolidation,15.21%,PA,RENT,3083.33,710-714,11.0,3098.0,0.0,2 years
34501,20000,19975.0,23.91%,60 months,debt_consolidation,9.47%,CA,MORTGAGE,11250.00,670-674,5.0,11168.0,0.0,< 1 year
26888,5450,5450.0,7.49%,60 months,other,2.48%,WA,MORTGAGE,4600.00,785-789,14.0,4326.0,0.0,10+ years
81759,14000,14000.0,12.12%,36 months,debt_consolidation,11.38%,NY,MORTGAGE,4500.00,705-709,22.0,18583.0,0.0,5 years

In [67]:
dataset=dataset[dataset['Loan.Length'].apply(lambda x:x.replace('months',''))]
dataset.head()

KeyError: "['36 ' '36 ' '60 ' ..., '36 ' '36 ' '36 '] not in index"

In [68]:
dataset

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
62403,6000,6000.00,15.31%,36 months,other,20.05%,CT,OWN,4891.67,670-674,17.0,10391.0,2.0,3 years
48808,10000,10000.00,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10.0,15957.0,0.0,10+ years
22090,33500,33450.00,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12.0,27874.0,0.0,10+ years
76404,14675,14675.00,14.33%,36 months,credit_card,26.92%,CA,RENT,3150.00,685-689,9.0,7246.0,1.0,8 years
15867,7000,7000.00,6.91%,36 months,credit_card,7.10%,CA,RENT,5000.00,715-719,8.0,7612.0,0.0,3 years
94971,2000,2000.00,19.72%,36 months,moving,10.29%,FL,RENT,3575.00,670-674,10.0,12036.0,0.0,6 years
36911,10625,10625.00,14.27%,36 months,debt_consolidation,12.54%,CA,MORTGAGE,4250.00,665-669,14.0,10767.0,0.0,< 1 year
41200,28000,27975.00,21.67%,60 months,debt_consolidation,13.07%,CT,MORTGAGE,14166.67,670-674,12.0,10311.0,0.0,1 year
83869,35000,34950.00,8.90%,36 months,debt_consolidation,20.46%,CT,RENT,9166.67,735-739,19.0,21536.0,0.0,1 year
53853,9600,9600.00,7.62%,36 months,debt_consolidation,3.45%,DC,RENT,11250.00,725-729,13.0,4606.0,0.0,< 1 year
21399,25000,24975.00,15.65%,60 months,debt_consolidation,21.99%,CA,RENT,5416.67,730-734,6.0,13929.0,0.0,9 years
62127,10000,10000.00,12.12%,36 months,debt_consolidation,17.72%,CA,RENT,9000.00,695-699,18.0,20317.0,0.0,7 years
23446,14000,13900.25,10.37%,60 months,debt_consolidation,11.95%,OH,RENT,4333.33,740-744,6.0,7419.0,0.0,9 years
44987,10000,10000.00,9.76%,36 months,credit_card,7.13%,FL,RENT,2733.33,730-734,7.0,6112.0,2.0,3 years
17977,5200,5175.00,9.99%,60 months,debt_consolidation,10.29%,AL,MORTGAGE,3750.00,760-764,10.0,16094.0,0.0,< 1 year
86099,22000,21975.00,21.98%,36 months,debt_consolidation,11.19%,TX,MORTGAGE,6666.67,665-669,9.0,23124.0,0.0,10+ years
99483,30000,30000.00,19.05%,60 months,credit_card,21.25%,FL,MORTGAGE,6250.00,695-699,12.0,34927.0,0.0,6 years
28798,6500,6500.00,17.99%,60 months,car,19.63%,FL,RENT,4100.00,665-669,11.0,11697.0,1.0,2 years
24168,17400,17400.00,11.99%,36 months,credit_card,12.47%,AZ,RENT,6833.33,695-699,7.0,26587.0,0.0,7 years
10356,4000,4000.00,16.82%,60 months,vacation,13.71%,GA,MORTGAGE,4500.00,670-674,5.0,20804.0,0.0,3 years
46027,7200,7200.00,7.90%,36 months,debt_consolidation,24.82%,TX,RENT,5416.67,705-709,8.0,12017.0,0.0,7 years
2238,8000,8000.00,14.42%,36 months,debt_consolidation,24.63%,MA,RENT,2964.17,675-679,9.0,8928.0,2.0,6 years
65278,8000,8000.00,15.31%,36 months,debt_consolidation,15.46%,CA,MORTGAGE,2916.67,675-679,13.0,7152.0,1.0,5 years
4227,3000,3000.00,8.59%,36 months,other,3.72%,MA,MORTGAGE,4167.00,765-769,4.0,7074.0,0.0,5 years
50182,14500,14500.00,7.90%,36 months,debt_consolidation,4.85%,GA,MORTGAGE,3958.33,760-764,4.0,9598.0,0.0,4 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22132,20000,17724.90,10.74%,60 months,moving,3.07%,NC,MORTGAGE,6125.00,755-759,5.0,17797.0,0.0,2 years
84265,20000,20000.00,22.95%,60 months,debt_consolidation,7.10%,NJ,RENT,6750.00,665-669,6.0,16104.0,1.0,7 years
80231,19000,19000.00,7.90%,36 months,debt_consolidation,9.76%,RI,MORTGAGE,5166.67,770-774,18.0,43617.0,2.0,10+ years
49533,17300,17250.00,22.45%,60 months,wedding,3.58%,PA,MORTGAGE,5500.00,685-689,11.0,2306.0,3.0,4 years
102514,7000,711.54,15.13%,36 months,major_purchase,18.91%,CO,MORTGAGE,3833.00,650-654,13.0,12634.0,0.0,2 years
78618,7200,7200.00,18.75%,36 months,debt_consolidation,16.21%,MI,RENT,8333.33,660-664,8.0,28916.0,0.0,10+ years
86953,10000,10000.00,14.09%,36 months,major_purchase,9.71%,CO,RENT,4583.33,675-679,6.0,3859.0,0.0,< 1 year
80129,4000,3925.00,14.09%,36 months,credit_card,12.27%,FL,MORTGAGE,8583.33,675-679,9.0,36943.0,1.0,10+ years
85216,17500,17500.00,8.90%,36 months,debt_consolidation,10.94%,UT,MORTGAGE,25000.00,730-734,9.0,34545.0,0.0,6 years
38247,20000,20000.00,11.71%,36 months,credit_card,9.58%,SD,MORTGAGE,5416.67,725-729,12.0,18267.0,1.0,4 years
91245,16200,16200.00,15.80%,60 months,debt_consolidation,7.92%,PA,MORTGAGE,4833.33,680-684,12.0,12313.0,2.0,10+ years
53041,10000,10000.00,6.03%,36 months,small_business,13.03%,FL,RENT,5000.00,760-764,8.0,3952.0,0.0,2 years
63051,27000,27000.00,6.62%,36 months,debt_consolidation,12.21%,OH,MORTGAGE,9250.00,810-814,12.0,4211.0,0.0,5 years
14446,4500,4475.00,7.51%,36 months,small_business,20.27%,VA,MORTGAGE,7075.50,720-724,15.0,68618.0,2.0,10+ years
68628,15875,15875.00,14.33%,36 months,small_business,17.44%,MD,MORTGAGE,3416.67,675-679,11.0,15891.0,0.0,2 years
98758,15000,15000.00,10.16%,36 months,credit_card,28.28%,OH,MORTGAGE,6666.67,690-694,15.0,14880.0,0.0,10+ years
13070,25000,24950.00,10.75%,36 months,debt_consolidation,20.48%,OR,MORTGAGE,7083.33,765-769,10.0,25429.0,0.0,6 years
45836,7000,7000.00,17.27%,36 months,other,18.38%,NY,OWN,2464.37,665-669,9.0,7089.0,0.0,3 years
52330,15000,15000.00,19.99%,36 months,wedding,18.05%,CA,RENT,8000.00,660-664,6.0,45976.0,1.0,2 years
48243,17000,17000.00,15.81%,36 months,debt_consolidation,17.01%,CO,RENT,3833.33,685-689,6.0,15484.0,1.0,6 years
63256,19075,19075.00,18.75%,36 months,debt_consolidation,15.23%,NY,RENT,5166.67,670-674,17.0,13749.0,3.0,10+ years
42124,10000,10000.00,11.71%,36 months,debt_consolidation,8.40%,CA,RENT,4500.00,710-714,8.0,8404.0,1.0,3 years
925,6400,6350.00,10.08%,36 months,debt_consolidation,8.11%,NJ,MORTGAGE,5166.67,710-714,5.0,5815.0,2.0,10+ years
74047,30000,30000.00,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16.0,17969.0,1.0,10+ years
49957,24000,23975.00,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13.0,17521.0,0.0,5 years
23735,30000,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
65882,16000,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
55610,10000,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
38576,6000,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
3116,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years